* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, auto);
  gap: .5rem;
  grid-auto-flow: dense;
}

.grid-item {
  grid-column: span 3;
  grid-row: span calc(var(--image-height) / 100);
}