*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Dark-Gray: hsl(0, 0%, 55%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
  --space-large: 3rem;
  --space-small: 1.5rem;
  --nav-transition-time: .2s;
}

/* ------------------------- Global Styles ------------------------- */
body {
  font-family: 'Spartan', sans-serif;
  font-size: .75rem;
  line-height: 1.5;
  color: var(--Dark-Gray);
  background-color: var(--White);
}

body.nav-open {
  position: relative;
  overflow-y: hidden;
}

body::before {
  content: '';
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color var(--nav-transition-time) linear;
}

body.nav-open::before {
  display: block;
  background-color: rgba(0, 0, 0, .5);
}

h1 {
  color: var(--Black);
  font-size: 2em;
  line-height: 1;
}

h2 {
  color: var(--Black);
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

main img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: var(--Very-Dark-Gray);
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 8px;
  transition: color .15s linear;
}

.btn svg {
  margin-left: var(--space-small);
}

.arrow {
  fill: var(--Very-Dark-Gray);
  transition: fill .15s linear;
}

.btn:hover,
.btn:focus {
  color: var(--Dark-Gray);
}

.btn:hover .arrow, 
.btn:focus .arrow {
  fill: var(--Dark-Gray);
  animation: bounce 2s linear infinite;
}

@keyframes bounce{
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(8px);
  }
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(8px);
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  padding-left: var(--space-small);
  padding-right: var(--space-small);
  margin: 0 auto;
  max-width: 600px;
}

/* ------------------------- Hamburger menu ------------------------- */
.burger-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.burger {
  width: 2em;
  height: 2px;
  background-color: var(--White);
  transition: 
    background-color var(--nav-transition-time) linear,
    opacity var(--nav-transition-time) linear,
    transform var(--nav-transition-time) linear;
}

.burger.top {
  transform-origin: right;
}

.burger.bottom {
  transform-origin: right;
}

body.nav-open .burger.middle,
body.nav-open .burger.top,
body.nav-open .burger.bottom {
  background-color: var(--Dark-Gray);
}

body.nav-open .burger.top {
  transform: translateY(-3px) rotateZ(-45deg);
}

body.nav-open .burger.middle {
  opacity: 0;
}

body.nav-open .burger.bottom {
  transform: translateY(3px) rotateZ(45deg);
  transform-origin: right;
}


/* ------------------------- header/nav  ------------------------- */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}  

.nav {
  position: relative;
  padding-top: var(--space-small);
  padding-bottom: var(--space-small);
  z-index: 1;
  background-color: transparent;
  transition: 
    background-color var(--nav-transition-time) linear, 
    padding var(--nav-transition-time) ease-in-out;
  transform-origin: top;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.nav-open .nav {
  background-color: var(--White);
  padding-top: calc(var(--space-small) * 2);
  padding-bottom: calc(var(--space-small) * 2);
}

.nav-items {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: none;
  transition: opacity var(--nav-transition-time) linear;
  transition-delay: var(--nav-transition-time);
}

body.nav-open .logo {
  opacity: 0;
}

.nav-links {
  visibility: hidden;
  flex: 5;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: var(--Black);
  font-weight: 700;
  transform: translateY(-12px);
  opacity: 0;
  transition: opacity var(--nav-transition-time) linear, transform var(--nav-transition-time) ease-in-out;
}

.nav-links li {
  position: relative;
}

.nav-links li::after {
  content: '';
  position: absolute;
  width: 75%;
  bottom: -.5rem;
  left: 50%;
  height: 1px;
  background-color: var(--White);
  transform: scaleX(0) translateX(-50%);
  transform-origin: left;
  opacity: 0;
  transition: opacity .15s linear, transform .15s ease-in-out;
}

.nav-links li:hover::after,
.nav-links li:focus::after {
  opacity: 1;
  transform: scaleX(100%) translateX(-50%);
}

body.nav-open .nav-links{
  visibility: inherit;
  opacity: 1;
  transform: translateY(0);  
  transition-delay: var(--nav-transition-time); 
}


/* ------------------------- Slider Section  ------------------------- */
.slider {
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
  z-index: -2;
  display: flex;
  height: 100%;
}

.image-container.transition {
  transition: transform 0.4s ease-in-out;
}

.slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: radial-gradient(circle at 50% 100%, transparent 50%, rgba(0, 0, 0, .3));
}

.slider picture {
  flex: 1 0 100%;
}

.slider img {
  position: relative;
  max-height: 400px;
  z-index: -2;
}

.slider-controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  margin-top: -3.8rem;
}

.slider-controls div {
  transition: opacity .15s linear;
}

.slider-controls div:hover {
  opacity: .8;
}

.slider-controls > div {
  cursor: pointer;
  background-color: var(--Black);
  padding: 1rem 1.5rem;
}

.slider-controls > div + div {
  border-left: 1px solid rgba(255, 255, 255, .25);
}



/* ------------------------- main cta  ------------------------- */
.cta {
  padding-top: var(--space-large);
  padding-bottom: var(--space-large);
}

.cta h1 {
  margin-bottom: var(--space-small);
}

.cta p {
  margin-bottom: 2rem;
}

/* ------------------------- about  ------------------------- */
.about {
  padding-top: var(--space-large);
  padding-bottom: var(--space-large);
}

.about h2 {
  margin-bottom: var(--space-small);
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
  

@media(min-width: 1000px){
  :root {
    --space-small: 2rem;
    --space-large: 4rem;
  }

  body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 60vh 10vh 30vh;

  }

  h1 {
    font-size: 3em;
  }
  
  main {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  header {
    position: relative;
    grid-column: 1 / span 6;
    grid-row: 1;
  }

  .nav {
    margin: 0;
  }

  .burger-container {
    display: none;
  }

  .logo {
    position: relative;
    left: 0;
    transform: translateX(0);
  }
  
  .nav-links {
    visibility: visible;
    opacity: 1;
    color: var(--White);
    transform: translateY(0);
    justify-content: start;
  }
  
  .nav-links li:first-child {
    margin-left: 4rem;
  }
  
  .nav-links li + li {
    margin-left: 2rem;
  }
  
  .slider {
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
  }

  .slider img {
    max-height: none;
  }

  .slider-controls {
    position: relative;
    grid-row: 2 / span 1;
    grid-column: 7 / span 1;
    display: flex;
    margin: 0;
  }

  .slider-controls div {
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cta {
    grid-column: 7 / span 4;
    grid-row: 1 / span 2;
    padding: 8rem 5rem;
  }

  main > img {
    grid-column: span 3;
    grid-row: 3 / span 1;
    object-fit: cover;
  }

  .about {
    grid-column: 4 / span 4;
    grid-row: 3;
  }
}